name: Build & Release Signed APK

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set current date as env variable
        run: echo "date_today=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      
      - name: Build Debug APK
        run: ./gradlew assembleDebug
      
      - name: Build Release APK
        run: ./gradlew assembleRelease
      
      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: ShizukuOptimizer-debug-${{ env.date_today }}
          path: app/build/outputs/apk/debug/app-debug.apk
      
      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: ShizukuOptimizer-release-${{ env.date_today }}
          path: app/build/outputs/apk/release/app-release-unsigned.apk
      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            app/build/outputs/apk/debug/app-debug.apk
            app/build/outputs/apk/release/app-release-unsigned.apk
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
